- account = modal_account
- amount = account.opportunities.not_lost.sum(:amount)
- # on_li_click = params[:update_el].blank? ? "" : "var selectThis = '"+account.id.to_s+"'; $$('select#"+params[:update_el]+" option').each(function(o) { if(o.readAttribute('value') == selectThis) { o.selected = true; throw $break; }});"
- on_li_click = params[:update_el].blank? ? "" : "$('#{params[:update_el]}').value = '#{account.id.to_s}'; $('#{params[:update_el]}_label').innerHTML = '#{truncate(account.name, :length => 44)}'; fireEvent($('account_id'), 'change')"

%li[account]{ highlightable.merge(:onmousedown => "this.style.background='#eee';", :onclick => "Modalbox.hide(); #{on_li_click}" )}
  - if amount != 0.0
    .strip.some= number_to_currency(amount, :precision => 0)
  - else
    .strip.none None

  .indent
    = h(account.name)
    &ndash;
    %tt
      = account.location << ", " unless account.location.blank?
      = t(:added_by, :time_ago => time_ago_in_words(account.created_at), :user => (account.user.id == @current_user.id ? t(:me) : h(account.user.full_name)))
    - unless @current_user.preference[:accounts_outline] == "brief"
      %dt
        = account.website << " | " if account.website.present?
        = account.email << " | " if account.email.present?
        = t(:phone_small) << ": " << (account.toll_free_phone || account.phone) << " | " if account.toll_free_phone? || account.phone?
        = t('pluralize.contact', account.contacts.count) << " | "
        = t('pluralize.opportunity', account.opportunities.count)
